/* === ONGLETS - Style IntelliJ Editor Tabs === */
.tab-pane {
    -fx-background-color: blue !important;
    -fx-padding: 0 !important;
    -fx-border-insets: 0 !important;
    -fx-border-width: 0 !important;
    -fx-background-insets: 0 !important;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 !important;
    -fx-border-width: 0 !important;
    -fx-border-insets: 0 !important;
    -fx-background-insets: 0 !important;
}

.tab-pane .tab-label {
    -fx-label-padding: 0 10 0 0 !important; /* top, right, bottom, left */
}

.tab-pane .tab-header-background {
    -fx-border-insets: 0 !important;
    -fx-background-insets: 0 !important;
    -fx-border-width: 0 !important;
    -fx-background-color: -fx-base !important;
}

.tab-pane .tab-close-button {
    -fx-min-width: 25px !important;
    -fx-pref-width: 25px !important;
    -fx-shape: "M 0,0 H1 L 5,4 9,0 H10 V1 L 6,5 10,9 V10 H9 L 5,6 1,10 H0 V9 L 4,5 0,1 Z" !important;
    -fx-background-color: transparent !important;
}

.tab-pane .tab-container:hover .tab-close-button {
    -fx-background-color: -fx-background !important;
}

.tab-pane .tab-close-button:hover {
    -fx-background: white !important;
}

.tab-pane .tab:selected .tab-close-button {
    -fx-background-color: -fx-background !important;
}

.tab {
    -fx-background-color: -fx-base !important;
    -fx-border-color: transparent !important;

    -fx-font-weight: normal !important;
    -fx-padding: 6 6 8 6 !important;
    -fx-background-radius: 0 !important;
    -fx-border-radius: 0 !important;
    -fx-background-insets: 0 !important;
    -fx-border-insets: 0 !important;
}

/* Unselected tab on hover */
.tab:hover {
    -fx-background-color: #4C5052 !important;
    -fx-text-fill: #BBBBBB !important;
}


.tab-pane .tab:hover {
    -fx-background-color: linear-gradient(to bottom, transparent 0%, transparent 90%, transparent 90%, -fx-accent 100%) !important;
}

/* Selected tab - looks like IntelliJ code tabs */
.tab-pane .tab:selected {
    -fx-background-color: linear-gradient(to bottom, transparent 0%, transparent 90%, -fx-lightmain 90%, -fx-lightmain 100%) !important;
    -fx-text-fill: white !important;
}

.tab-pane .tab:pressed {
    -fx-background-color: linear-gradient(to bottom, transparent 0%, transparent 90%, -fx-accent 90%, -fx-accent 100%) !important;
    -fx-text-fill: -fx-accent !important;
}


/* Zone de contenu des tabs */
.tab-content-area {
    -fx-background-color: -fx-base !important;
    -fx-padding: 0 !important;

    -fx-border-width: 1 0 0 0 !important;
    -fx-border-color: -fx-background !important;
}